section {
    width: 90vw;
    margin: auto;
}
span {
    font-weight: bold;
}
h1 {
    text-align: center;
}
@media screen and (min-width: 800px) {
    section {
        width: 60vw;
    }
}
@media screen and (min-width:1200px) {
    section {
        width: 50vw;
    }
}