.DS_Store
prod_blog/model/PDO.php

dev_project/public/images/upload/*.png
dev_project/public/images/upload/*.jpg
dev_project/public/images/upload/*.jpeg

dev_project/public/images/presentation/*.png
dev_project/public/images/presentation/*.jpg
dev_project/public/images/presentation/*.jpeg

tests_marin/appli2/

RENDU_16_MAI_festival