header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 5vw;
}

header>h1{
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    color: #FFA319;
    cursor: pointer;
}

header>h1:hover{
    animation: animLogo 0.5s linear;
}

header>img{
    height: 50%;
}

.navbar{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.menu{
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    min-width: 112px;
    
    position: fixed;
    bottom: -10px;
    z-index: 1000000;
}

.feed{
    position: fixed;
    transform: translate(-50%,50%);
    height: 65px;
    left: 50vw;
    bottom: 105px;
    border-radius: 100%;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
}

.feed img{
    height: 100%;
    width: 100%;
}

.menuInner{
    height: 100px;
    background-color: white;
    width: calc(50vw - 56px);
    height: 100px;
    display: flex;
}

.menuInner>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 50%;
}

.menuInner>a>img{
    height: 30px;
    width: 30px;
}

.menuBlur{
    z-index: 999999;
    filter: blur(4px);
    left: 2px;
    bottom: -10px;
}

.menuBlur::after, .menuBlur::before{
    content: "";
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(50vw - 56px);
    height: 100px;
}

.menu h2{
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0 0 0;
    font-size: 0.75rem;
}

@keyframes animLogo {
    0%,100%{
        transform: rotate(0deg);
    }25%{
        transform: rotate(10deg);
    }50%{
        transform: rotate(0deg);
    }75%{
        transform: rotate(-10deg);
    }
}

@media (max-width: 300px){

    body *, body *::after, body *::before{
        display: none;
    }
    body::before{
        content: "Zoey n'est pas encore disponible à ce format :(";
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Exo 2', sans-serif;
        height: 100vh;
        position: fixed;
    }
}

@media (min-width: 800px){
    
    .menuBlur, .menu>svg, .menu img{
        display: none;
    }

    .feed{
        left: auto;
        right: 25px;
        bottom: 25px;
        transform: translate(0%,0%);
        transition: 0.25s ease-in-out;
    }

    .feed:hover{
        transform: translate(0%,0%) scale(1.1) rotate(10deg);
    }

    header{
        position: fixed;
        width: 90vw;
    }

    .menuInner{
        background-color: initial;
        height: 100%;
        width: 25vw;
    }

    .menuInner>a{
        transition: 0.25s ease-in-out;
    }

    .menuInner h2{
        font-size: 1rem;
    }
    
    .menuInner>a:hover{
        color: #FFA319;
    }

    .menu{
        top: 0;
        height: 60px;
        width: 50vw;
        margin: 0 25vw;
    }

    .navbar>a{
        transition: 0.15s ease-in-out;
    }

    .navbar>a:hover{
        transform: rotate(10deg);
    }
}