.inputMessage {
    position: fixed;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f3f3f3;
}
.legalLink {
    position: fixed;
    bottom: 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    margin: 0;
}
input {
    background-color: white;
}
#addMessageForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 320px;
}
textarea {
    width: 100%;
    margin-top: 10px;
    background: white;
    border: none;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
}
#media {
    display: none;
}
.mobileContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.mediaContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.labelForMedia {
    display: none;
}
.currentPicture {
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
}
label[for="media"] {
    margin-top: 10px;
    cursor: pointer;
    width: fit-content;
}
#submitAddMessage {
    margin: 0;
}
.inputMessage span {
    color: #FFA319;
}
@media screen and (min-width: 800px) {
    .labelForMedia {
        display: block;
        width: 220px;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        color: black;
    }
    .mobileContainer {
        flex-direction: column;
        margin-bottom: 20px;
    }
}