/* ---------------------------- */
/*     Classes générales        */
/* ---------------------------- */

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Exo 2', sans-serif;
  position: relative;
  font-size: 2.25rem;
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body>section {
  margin-bottom: 50px;
}

/* Description de Zoey */

.introduction {
  box-sizing: border-box;
  padding: 75px 0 !important;
  min-height: calc(100vh - 60px);
  max-height: 1200px;
  width: 100%;
  max-width: 1600px;
  position: relative;
}

.titleZoey{
  margin-top: 0;
  font-size: 3rem;
  font-family: 'Exo 2', sans-serif;
  color: rgb(36, 36, 36);
}

.introContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 750px;
}

.img-presentation{
  height: 100%;
  max-width: 70%;
  z-index: -1;
  object-fit: contain;
  position: absolute;
  right: 0;
  bottom: 0;
}

.introWrapper{
  width: 90%;
  margin: auto 0;
  display: flex;
  align-items: center;
}

.intro{
  font-size: 2rem;
  font-weight: 400;
  max-width: 750px;
}

.importantColor{
  color: #f3811c;
}

.download {
  align-self: flex-start;
  padding: 5px 15px;
  padding-right: 35px;
  border-radius: 1000px;
  display: flex;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.download:hover {
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
  background: #FF9900;
  background: linear-gradient(-90deg, rgba(255,163,25,0) 0%, rgba(255,163,25,0.075) 40%, rgba(255,163,25,0.15) 100%);
}

.download p {
  margin: 0;
  height: fit-content;
  height: -moz-fit-content;
  margin: auto 0;
  margin-left: 20px;
  font-size: 1rem;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  color: #FF9900;
  transition: 0.15s ease-in-out;
}

.download:hover p {
  visibility: visible;
  opacity: 1;
}

.download svg path {
  transition: 0.25s ease-in-out;
}

.download:hover svg path:first-of-type {
  fill: #FF9900;
}

.download svg path:nth-of-type(2) {
  transform-origin: center;
}

.download:hover svg path:nth-of-type(2) {
  fill: #ffc800;
  transform: scaleX(1.2);
}

.download:hover svg path:nth-of-type(3) {
  transform: translateY(20px);
}

.dl-icon{
  width: 60px;
  height: 60px;
}

.wrapperCTA{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  max-width: 500px;
  min-width: 325px;
}

.wrapperCTA>a{
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: rgb(36, 36, 36);
  display: block;
  text-decoration: none;
  position: relative;
  transition: color 0.15s ease-in-out;
}

.wrapperCTA>a::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -50%;
  opacity: 0;
  border-radius: 100px;
  height: 7.5px;
  width: 7.5px;
  background-color: #f3811c;
  transform: translate(-50%, 50%);
  transition: 0.25s ease-in-out;
}

.wrapperCTA>a:hover{
  color: #f3811c;
}

.wrapperCTA>a:hover::after{
  bottom: -25%;
  opacity: 1;
}

.blockPres {
  width: 80%;
  max-width: 1920px;
  margin: auto 0;
  margin-top: 50px;
  font-size: 1rem;
}

.desc{
  width: 80vw;
}

.introList{
  max-width: 80vw;
  text-align: center;
}

.intro, .introList, .desc {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 750px) {
  .title2:first-of-type{
    font-size: 1.25rem;
  }
}

.title2 {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.75rem;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.titleLast{
  margin-top: 60px;
}

.titleMargin {
  margin-bottom: 30px;
}

.titleFirst {
  margin-top: 35px;
}

section .title2 {
  font-size: 1.25rem;
}

.poste {
  font-size: 1rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* Images */

.imgWrap img {
  width: 40vw;
  height: 40vw;
}

.imgWrap {
  margin: 5vw;
  display: flex;
  position: relative;
  transition: 0.25s ease-in-out;
}

.imgWrap:hover {
  transform: scale(1.05);
}

.imgWrap:hover::before {
  transform: translate(-50%, -50%) rotate(0deg) scale(1.05);
}

.imgWrap::before {
  z-index: -1;
  content: '';
  position: absolute;
  height: 105%;
  width: 105%;
  background-color: #ffc800;
  border-radius: 2px;
  transition: 0.25s ease-in-out;
  transform: translate(-50%, -50%) rotate(2.5deg);
  top: 50%;
  left: 50%;
}

/* Réseaux sociaux footer */

.reseaux {
  display: flex;
  flex-direction: column;
}

.reseaux a {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin: 10px 0 10px 0;
  transition: 0.25s ease-in-out;
}

.resFooter {
  margin-top: 25px;
}

.reseaux a:hover {
  color: #f3811c;
}

.reseaux a:hover img {
  transform: scale(0.8);
}

.reseaux img {
  width: 35px;
  transition: 0.25s ease-in-out;
}

main section:nth-child(1) {
  grid-area: a;
}

main section:nth-child(2) {
  grid-area: b;
}

main section:nth-child(3) {
  grid-area: c;
}

main section:nth-child(4) {
  grid-area: d;
}

main section:nth-child(5) {
  grid-area: e;
}

main section:nth-child(6) {
  grid-area: f;
}

main section:nth-child(7) {
  grid-area: g;
}

main section:nth-child(8) {
  grid-area: h;
}

main {
  display: grid;
  grid-template-areas: 'a''b''c''d''e''f''g''h';
}

.mockupImg {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 66.6vw;
}

.mockupImg img {
  width: 100% !important;
  height: 100% !important;
}

.bgContainer {
  overflow: hidden;
}

.mockupContainer {
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
}

/* Refuges partenaires */
section.partenaires {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 75px 0 !important;
  min-height: calc(100vh - 60px);
  max-width: 1600px;
  position: relative;
}

.partenaires>div {
  height: 50%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleUnderline {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.75rem;
  margin-bottom: 0;
  text-align: center;
  position: relative;
  display: flex;
}

.titleUnderline::after {
  content: "";
  position: absolute;
  background-color: #FF9900;
  width: 100%;
  height: 3px;
  bottom: -10px;
  right: -25px;
}

.firstText {
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  text-align: center;
  margin-top: 50px;
}

.partenaires img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.partenairesContainer {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.refugeContainer {
  width: 50%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.refugeContainer p {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
}

#installPWAbtn a {
  text-decoration: none;
  color: white;
}

.legalLink {
  margin-top: 0;
}

/* ---------------------------- */
/*       Media Queries          */
/* ---------------------------- */

@media (max-width: 800px) {

  .titleZoey {
    margin-top: 50px;
    text-align: center;
  }

  .introduction {
    padding-top: 0 !important;
    min-height: calc(100vh - 150px);
  }

  .img-presentation {
    opacity: 0.2;
    width: 100vw;
    max-width: inherit;
  }

  .introContainer {
    width: 100%;
  }

  .wrapperCTA {
    max-width: 80%;
    min-width: 80%;
    margin: 0 auto;
  }

  .download {
    background: #FF9900;
    background: linear-gradient(-90deg, rgba(255,163,25,0) 0%, rgba(255,163,25,0.075) 40%, rgba(255,163,25,0.15) 100%);
  }

  .download p {
    visibility: visible;
    opacity: 1;
  }

  .intro {
    font-size: 1.5rem;
    text-align: center;
  }

  .wrapperCTA>a {
    font-size: 1.2rem;
    text-align: center;
  }

  .wrapperCTA {
    flex-direction: column;
    margin-top: 25px;
  }
}

@media (min-width: 800px) {
  .resFooter {
    margin-top: 0;
  }

  .reseaux {
    flex-direction: row;
    justify-content: space-around;
    margin: 35px 0 35px 0;
  }

  .reseaux a {
    justify-content: space-around;
    margin: 0 1vw 0 1vw;
    width: 135px;
  }

  .tres {
    margin-top: 75px;
  }

  main {
    grid-template-areas: 'a b''c d''e f''g g''h h';
  }

  .imgWrap {
    margin: 2vw;
  }

  .imgWrap img {
    width: 10vw;
    height: 10vw;
  }

  .desc {
    width: 35vw;
  }

  section {
    padding: 2vw;
    justify-content: space-between;
  }

  .mockupImg {
    width: 50vw;
    height: 33.3vw;
  }

  .mockupImg::before {
    height: 101%;
    width: 100.5%;
    transform: translate(-50%, -50%) rotate(2deg);
  }

  .mockupContainer {
    width: fit-content;
    width: -moz-fit-content;
  }
}