header{
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
}

.defaultBlock{
    height: 100vh;
    width: 100%;
    padding: 0;
    scroll-snap-align: start;
    position: relative;
}

.blockIllus{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

main{
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body{
    padding: 0;
}