/* JS HANDLER */
#popUpContainer {
  display: none;
}

/* popUp de bienvenue */
.welcome {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  width: 95%;
  font-size: 0.9rem;
}

.zoey_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.zoey_container h2 {
  font-family: 'Exo 2', sans-serif;
  color: #f3811c;
  font-size: 5rem;
  margin: 0;
}

.zoey_container img {
  width: 5%;
}

.redirection {
  color: black;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

/* Spécifiques aux popUp */

.wrapperPopUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10000001;
}

.popUp {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 90vw;
  min-width: 300px;
  max-width: 500px;
  /* height: 95vh; */
  height: fit-content;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  z-index: 10000001;
}

.popUp h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: calc(100% - 100px);
}

.popUp form {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* popUp page refuge contact */
.contactContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contactContainer:nth-of-type(2) img {
  margin-right: 20px;
}

.contactContainer:nth-of-type(3) img {
  margin-right: 20px;
}

/* .contactContainer:nth-of-type(4) {
    flex-direction: column;
} */
.contactContainer .icon {
  width: 25px;
}

.popUp span {
  white-space: nowrap;
}

.logoRefuge {
  margin-top: 20px;
  max-width: 20%;
}

.croix {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}

.croix img {
  width: 30px;
  height: 30px;
}

.location p {
  width: 90%;
}

.contactContainer img {
  margin-right: 20px;
}

@media screen and (min-width: 500px) {
  .popUp {
    width: 480px;
    height: fit-content;
  }

  .welcome {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  .description {
    width: 95%;
    font-size: 0.95rem;
  }

  .zoey_container h1 {
    font-size: 5rem;
    margin: 0;
  }

  .contactContainer:nth-of-type(4) {
    width: 70%;
  }
}

@media screen and (min-width: 660px) {
  .zoey_container h1 {
    font-size: 7rem;
    margin: 0;
  }

  /* .popUp {
    height: 85vh;
  } */
}

@media screen and (min-width: 800px) {
  .popUp {
    width: 600px;
    /* height: 600px; */
  }

  .description {
    font-size: 1rem;
  }
}
