.promptPWA {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10000001;
}

/* Centrer la PopUp */
.popUpWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


/* PopUp */
.popUpInstall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    height: 200px;
}

.titlePopup {
    margin: 0;
}

#promptPWAclose {
    width: 100%;
    display: flex;
    align-self: flex-start;
}

#promptPWAclose h2 {
    margin: 0 auto;
}

#promptPWAclose img {
    cursor: pointer;
    position: absolute;
}

.popUpInstall p {
    text-align: center;
    width: 90%;
}