body {
  padding: 0;
  background: rgb(34, 34, 34);
}

.postButtonSvg {
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.postButtonSvg path {
  transition: 0.25s ease-in-out;
}

.postButtonSvg:hover path {
  fill: #ffc165;
}

.popUpRm {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popUpRm > p {
  margin-bottom: 30px;
  color: white;
}

.popUpRm > h2 {
  color: white;
}

.popUpFirstBtn {
  margin-right: 20px;
}

#cancelRemove {
  margin-left: 20px;
}

.returnMessage {
  position: fixed;
  z-index: 1001;
  bottom: 25px;
  left: 25px;
  width: 50%;
  max-width: 400px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 25px 25px 25px 0;
  white-space: normal;
  animation: poping 4s ease-in-out;
  opacity: 0;
  transform: translateY(200%);
  z-index: 1100;
  pointer-events: none;
}

@keyframes poping {
  0%,
  100% {
    opacity: 0;
    bottom: 0;
    transform: translateY(100%);
  }
  20%,
  80% {
    opacity: 1;
    bottom: 25px;
    transform: translateY(0);
  }
}

.return {
  position: fixed;
  top: 67.5px;
  left: 5%;
  z-index: 1000;
}

.return svg {
  height: 35px;
  width: 35px;
  transition: 0.25s ease-in-out;
}

.return:hover svg {
  transform: skewX(5deg);
}

.return svg path {
  transition: 0.25s ease-in-out;
}

.return:hover svg path {
  fill: #cc9900;
}

main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  z-index: 10;
}

::-webkit-scrollbar-track {
  box-shadow: unset;
}

.defaultBlock {
  height: calc(100vh - 68px);
  width: 100%;
  max-width: 500px;
  padding: 0;
  scroll-snap-align: start;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 0;
  background: rgb(34, 34, 34);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}

main .defaultBlock:last-child {
  margin-bottom: 240px;
  position: relative;
}

main .defaultBlock:last-child::after {
  content: '';
  background-image: url(../images/icons/loader.svg);
  background-size: contain;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform-origin: left bottom;
  animation: loader 2s ease-in-out infinite;
}

.hiddenAfter .defaultBlock:last-child::after {
  content: 'Tout le contenu a été chargé';
  color: #ffa319;
  background-image: none;
  height: auto;
  width: auto;
  transform: translate(-50%, 50%);
  text-align: center;
  animation: none;
}

@keyframes loader {
  0% {
    transform: rotate(0deg) translate(-50%, 50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, 50%);
  }
}

.textContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 90%;
  padding: 0 5% 70px 5%;
  background: rgb(255, 163, 25);
  background: linear-gradient(
    180deg,
    rgba(255, 163, 25, 0) 0%,
    rgba(255, 163, 25, 0.1) 40%,
    rgba(255, 163, 25, 0.25) 60%,
    rgba(255, 163, 25, 0.4) 100%
  );
}

.textContent * {
  color: white;
  text-decoration: none;
  overflow-wrap: break-word;
}

.blockIllus {
  object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.seeMore {
  padding: 7.5px 10px 7.5px 10px;
  border: solid 2px white;
  border-radius: 10px;
  margin-left: auto;
  transition: 0.25s ease-in-out;
}

.seeMore:hover {
  border: solid 2px #ffa319;
}

.textContent h1 {
  margin: 0;
  display: inline-block;
  padding: 2.5px 25px 2.5px 25px;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 10px;
  background: #ffa319;
}

.headMsg {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.date {
  margin-top: 10px;
  color: #ffa319;
}

.descMore {
  margin-bottom: 0;
  width: 100%;
}

.descWrapper {
  text-shadow: 0px 0px 5px #00000099;
}

.endDesc {
  height: 0;
  overflow: hidden;
  transition: 0.35s ease-in-out;
}

.dot {
  white-space: nowrap;
  margin-left: 50px;
  text-decoration: underline;
  transition: 0.35s ease-in-out;
}

.descMore,
.endDesc {
  cursor: pointer;
}

.menuInner svg > path {
  fill: #ffa319;
}

.menuInner h2 {
  color: white;
  font-weight: normal;
}

.menu > svg > path {
  fill: rgb(34, 34, 34);
}

.menu > svg,
.menuBlur {
  display: none;
}

.menuInner {
  width: 50%;
}

.menu > .menuInner {
  background-color: unset;
}

.menuInner,
.menu {
  height: 70px;
}

.menu {
  bottom: -2px;
  background-color: rgb(34, 34, 34);
  box-shadow: #00000022 0px 0px 4px 4px;
}

.feed {
  display: none;
}

@media (min-width: 800px) {
  body {
    background: rgb(27, 27, 27);
  }
  main {
    margin-top: 60px;
    height: calc(100vh - 60px);
  }
  main::-webkit-scrollbar {
    display: block;
  }
  .defaultBlock {
    height: 100%;
  }
  header {
    background: unset;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  }
  .menuInner h2 {
    color: rgb(235, 235, 235);
    transition: 0.25s ease-in-out;
  }
  .menuInner h2:hover {
    color: #ffa319;
  }
  .textContent {
    padding: 0 5% 5% 5%;
  }
  main .defaultBlock:last-child {
    margin-bottom: 100px;
  }
  .menu,
  .menuInner {
    height: 60px;
  }
  .menu {
    background-color: unset;
    box-shadow: none;
  }
}

body::before {
  color: white;
}
