body{
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;
}

.googleWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.champs{
  font-size: 0.75rem;
}

.connexion {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connexion h1 {
  color: #f3811c;
  font-size: 1.8rem;
}
.connexion h2 {
  text-align: center;
  width: 90%;
  font-size: calc(1.2rem + 0.5vw);
}
.connectForm {
  width: 280px;
  display: flex;
  flex-direction: column;
}
.connectForm label {
  font-weight: bold;
}

.linksContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linksContainer input {
  width: 150px;
  font-size: 1rem;
}
.linksContainer a {
  font-size: 0.8rem;
  color: black;
}
.subscribeForm p {
  font-size: 0.8rem;
}
@media screen and (min-width: 800px) {
    .inputContainer {
        flex-direction: row;
    }
    .pseudoContainer {
        display: flex;
        flex-direction: column;
    }
    .passwordContainer {
        display: flex;
        flex-direction: column;
    }
    body{
      justify-content: center;
    }
}
