#convContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#convContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#convContainer label {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
#convSearch {
    width: 280px;
    height: 35px;
    font-size: 1rem;
}
#convContainer article {
    width: 300px;

}
#convContainer a {
    text-decoration: none;
    color: black;
}
#convContainer article h1 {
    color: #FFA319;
}
#convContainer p span{
    font-weight: bold;
}
article {
    display: flex;
    flex-direction: column;
}
article>div {
    display: flex;
    flex-direction: column;
}
#messagesContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
}
#messagesContainer a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90vw;
    max-width: 350px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
}
.profilePicturesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
}
.profilePicture {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.ConversationTextsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 60px;
}
#messagesContainer a:hover {
    background-color: #dfdfdf;
}
#messagesContainer a p:first-of-type {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
    color: #FFA319;
}
#messagesContainer a p:last-of-type {
    margin: 0;
    font-size: 0.95rem;
}