input[type='radio'] {
  display: none;
}

label > img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 2px white;
  background-color: #ffffff66;
}

label > h3 {
  margin: 0;
  word-break: break-word;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.underTitle{
  font-size: 1.35rem;
}

#submitAddPost{
  margin: 20px 0;
}

.underTitle::first-letter{
  color: #f3811c;
  font-size: 1.1em;
}

.selectAnimal {
  display: flex;
  width: 80vw;
  overflow-x: auto;
  padding: 10px 0;
}

.containerSelectAnim {
  position: relative;
}

.containerSelectAnim::after {
  content: '';
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25px;
  pointer-events: none;
}

.containerSelectAnim::before {
  content: '';
  background: rgb(255, 255, 255);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 25px;
  pointer-events: none;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

label[for="media"]{
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  margin: 2rem auto;
}

.imgLoader+h5{
  margin: 0;
  margin-top: 15px;
}

.cardSelector {
  min-width: 100px;
  max-width: 125px;
  height: 125px;
  transition: 0.15s ease-in-out;
  margin: 0 37.5px;
  padding: 10px;
  border-radius: 10px;
}

.cardSelector:hover{
  background-color: #f1f1f1;
}

.cardActive {
  background-color: #ffc800;
  border-radius: 20px;
  box-shadow: #00000066 0px 0px 6px !important;
}

.cardActive:hover {
  background-color: #ffbb00;
}

.cardActive h3 {
  color: white;
  word-wrap: break-word;
  width: 100px;
}

#description {
  box-sizing: border-box;
  color: #949393;
  background-color: #f3f3f3;
  border: none;
  resize: none;
  padding: 10px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
}

.descWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 25px;
  padding: 1px;
}

.sendWrapper {
  display: flex;
  justify-content: center;
}

.sendWrapper > input {
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.sendWrapper > input:hover {
  box-shadow: none;
}

#media {
  display: none;
}

.imgLoader img {
  width: 75vw;
  max-width: 500px;
  height: auto;
}
h5.button {
  margin-top: 20px;
}
#ConfirmationMessage {
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .containerSelectAnim,
  #addPostForm {
    width: 100%;
  }

  .selectAnimal {
    width: 100%;
  }

  .cardSelector {
    margin: 0 10px;
  }
}
