@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
header {
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
}
header .signup {
  color: black;
}
header p {
  color: rgb(165, 164, 164);
  font-size: 13px;
}
header a {
  color: inherit;
  text-decoration: none;
}
.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: inherit;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  max-width: 350px;
}
.login-form h1 {
  text-align: center;
}
.form {
  margin-top: 20px;
}
.login-form .form label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.login-form .form input {
  width: 90%;
  padding: 10px;
  border: 1px solid rgb(204, 203, 203);
  border-radius: 5px;
  outline: none;
}
.login-form .form input[type="text"] {
  margin-bottom: 10px;
}
.login-form .form button {
  margin-top: 20px;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.login-form .form .text-footer {
  color: rgb(133, 131, 131);
  font-size: 13px;
  margin-top: 20px;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .login-form {
    position: static;
    transform: none;
  }
}
