.popUp {
    position: fixed;
    top: 0;
    left: 0;
    margin: 4vw;
    width: 40vw;
    height: calc(100vh -5vw);
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.croix {
    position: absolute;
    top: 50px;
    left: 50px;
}
.welcome {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.description {
    width: 90%;
    font-size: 0.9rem;
}
.zoey_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.zoey_container h1 {
    font-family: 'Exo 2', sans-serif;
    color: #f3811c;
    font-size: 20vw;
    margin: 0;
}
.zoey_container img {
    width: 30%;
}

.redirection {
    color: black;
    font-size: 0.7rem;
    font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 500px) {
    .welcome {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    .description {
        width: 90%;
        font-size: 1rem;
    }
    .zoey_container {
        justify-content: center;
    }
    .zoey_container img {
        width: 150px;
        margin-right: 100px;
    }
    .zoey_container h1 {
        font-size: 5rem;
        margin: 0;
    }
}
@media screen and (min-width: 650px) {
    .description {
        width: 80%;
    }
    .zoey_container h1 {
        font-size: 7rem;
        margin: 0;
    }
}
@media screen and (min-width: 800px) {
    .description {
        width: 80%;
    }
    .popUp {
        margin: 6vw;
        width: 88vw;
        height: calc(100vh - 8vw);
    }
}