body{
    margin: 0;
}

.crsl{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.crslTitre{
    margin: 15px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.crslDesc{
    margin: 10px 0 0 0;
    max-width: 583px;
    text-align: justify;
    padding: 0 5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.crslPic{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow1, .arrow2{
    height: 7.5vw;
    max-height: 54px;
    margin: 1vw;
}

.arrow2{
    transform: rotate(180deg);
}

.crslImg{
    height: 54vw;
    width: 36vw;
    max-height: 387px;
    max-width: 258px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: min(3vw, 20px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.crslWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(60vw, 430px);
}

.crslWrap #I4{ /*  Images de droite  */
    margin-left: max(-15vw, -110px);
}

.crslWrap #I3{ /* Image centrale */
    z-index: 2;
    height: 60vw;
    width: 40vw;
    max-height: 430px;
    max-width: 287px;
}

.crslWrap  #I2{ /*  Images de gauche  */
    margin-right: max(-15vw, -110px);
}

#I0, #I1, #I5, #I6{
    width: 0;
    height: 0;
    z-index: -1;
}