@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  padding: 0 0 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsletter {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 225px;
}

.newsletter h1 {
  grid-area: title;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 30px 0;
}

.newsletter p {
  grid-area: d;
  font-size: 0.75rem;
  margin: 0;
  align-self: flex-start;
}

.newsletter input {
  border: none;
  background-color: #F3F3F3;
  border-radius: 25px;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  color: #949393;
  height: 25px;
}

.newsletter input[name="prenom"] {
  grid-area: a;
  width: 200px;
}

.newsletter input[name="email"] {
  grid-area: b;
  width: 230px;
  margin: 0 5vw;
}

.newsletter input[type="submit"] {
  grid-area: c;
  width: 120px;
  height: 35px;
  background: #f3811c;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  transition: 0.25s ease-in-out;
}

.newsletter input[type="submit"]:hover {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #f3811c;
  padding: 10px 20px 10px 20px;
  height: fit-content;
  height: -moz-fit-content;
  border-radius: 20px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.35);
  transition: 0.25s ease-in-out;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 5vw;
}

header>h1 a {
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  color: #FFA319;
  cursor: pointer;
}

header>h1:hover {
  animation: animLogo 0.5s linear;
}

header>img {
  height: 50%;
}

.navbar {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.menu {
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  min-width: 112px;

  position: fixed;
  bottom: -10px;
  z-index: 1000000;
}

.feed {
  position: fixed;
  transform: translate(-50%, 50%);
  height: 65px;
  left: 50%;
  bottom: 105px;
  border-radius: 100%;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
}

.feed img {
  height: 100%;
  width: 100%;
}

.menuInner {
  height: 100px;
  background-color: white;
  width: calc(50vw - 56px);
  height: 100px;
  display: flex;
  justify-content: center;
}

.menuInner>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 50%;
}

.menuInner>a>img {
  height: 30px;
  width: 30px;
}

.menuBlur {
  z-index: 999999;
  filter: blur(4px);
  bottom: -10px;
}

.menuBlur::after,
.menuBlur::before {
  content: "";
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(50vw - 56px);
}

.menu h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 5px 0 0 0;
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
}

@keyframes animLogo {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }
}

@media (max-width: 300px) {

  body *,
  body *::after,
  body *::before {
    display: none;
  }

  body::before {
    content: "Zoey n'est pas encore disponible à ce format :(";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    height: 100vh;
    position: fixed;
  }
}

@media (min-width: 800px) {

  body {
    padding: 60px 0 0 0;
  }

  .newsletter {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-areas: "title title title""a b c""d d d";
    justify-content: center;
  }

  .newsletter h1 {
    font-size: 1.5rem;
  }

  .newsletter p {
    align-self: unset;
  }

  .btn:hover {
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
  }

  .menuBlur,
  .menu>svg,
  .menu img {
    display: none;
  }

  .feed {
    left: auto;
    right: 25px;
    bottom: 25px;
    transform: translate(0%, 0%);
    transition: 0.25s ease-in-out;
  }

  .feed:hover {
    transform: translate(0%, 0%) scale(1.1) rotate(10deg);
  }

  header {
    top: 0;
    position: fixed;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.75);
  }

  .menuInner {
    background-color: initial;
    height: 100%;
    width: 25vw;
  }

  .menuInner>a {
    transition: 0.25s ease-in-out;
  }

  .menuInner h2 {
    font-size: 1rem;
  }

  .menuInner>a:hover {
    color: #FFA319;
  }

  .menu {
    height: 60px;
    width: 50vw;
    margin: 0 25vw;
    top: 0;
  }

  .navbar>a {
    transition: 0.15s ease-in-out;
  }

  .navbar>a:hover {
    transform: rotate(10deg);
  }
}